{% load staticfiles %}

<HEAD>
	<TITLE>Welcome to FreeRides!</TITLE>
	<SCRIPT LANGUAGE="JavaScript" SRC="{% static 'rides/CalendarPopup.js' %}"></SCRIPT>
	<SCRIPT LANGUAGE="JavaScript">
	var cal = new CalendarPopup();
	cal.showNavigationDropdowns();
	</SCRIPT>
	<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
</HEAD>


<link rel="stylesheet" type="text/css" href="{% static 'rides/style.css' %}" />

<A href="url" style="float: right">login | sign up</A>

<div class="center">
<p class="main">

<img class="displayed" src="{% static "rides/fullrideslogo_w_txt.png" %}" 
alt="Logo" height="424" widght="460"/>

<FORM NAME="example" class="main" align="middle">
Select a travel date:<br>
<INPUT TYPE="text" NAME="date1xx" VALUE="" SIZE=10>
<A HREF="#" onClick="cal.select(document.forms[0].date1xx,'anchor1xx','MM/dd/yyyy'); return false;" TITLE="cal.select(document.forms[0].date1xx,'anchor1xx','MM/dd/yyyy'); return false;" NAME="anchor1xx" ID="anchor1xx">calendar</A>

</FORM>

<FORM NAME="example" class="main" align="middle">
 Select a location: <br>
 <select name="something">
  <option value="blank"></option>
  <option value="wash_DC">Washinton D.C.</option>
  <option value="jmu">JMU</option>
  <option value="va_beach">Virginia Beach</opton>
  <option value="richmond">Richmond</option>
  <option value="other">Other</opton>
 </select>
</FORM>
</p>
</div>

<a href="www.link.com"><img class="displayed" src="{% static "rides/rider_button.png" %}" align="middle" alt="Rider"/></a>

<br>

<a href="www.link.com"><img class="displayed" src="{% static "rides/driver_button.png" %}" align="middle" alt="Driver"/></a>



<!-- {% if users %}
    <ul>
    {% for user in users %}
        <li><a href="/rides/{{ user.id }}/">{{ user.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No users are available.</p>
{% endif %} -->