{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'rides/style.css' %}" />

<HEAD>
	<TITLE>Welcome to FullRides!</TITLE>
</HEAD>

{% if user.is_authenticated %}
    <a href="/rides/account/" style="float: right"> {{ user.username }}'s Account</a>
    <br>
    <a href="/rides/logout/" style="float: right"> Logout </a>
{% else %}
    <a href="/rides/register/" style="float: right">Register Here</a>
{% endif %}

<div class="center">
<p class="main">

<img class="displayed" src="{% static "rides/fullrideslogo_w_txt.png" %}" 
alt="Logo" height="324" widght="360"/>
{{ scheduled }}
<br>
{{ scheduled_ride }}
<br>
<br>
Schedule a ride:
<br>
<form id="ride_form" method="post" action="/rides/"
                enctype="multipart/form-data" class="main" align="middle">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ ride_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Drive" />
</form>
<form id="ride_form" method="post" action="/rides/search/"
                enctype="multipart/form-data" class="main" align="middle">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ ride_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Ride" />
</form>

<br>
<A href="url" style="position: absolute; bottom: 10; right: 14; text-align:right;">about | FAQ | legal | contact us</A>


<!-- {% if users %}
    <ul>
    {% for user in users %}
        <li><a href="/rides/{{ user.id }}/">{{ user.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No users are available.</p>
{% endif %} -->