{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'rides/style.css' %}" />
{% if user.is_authenticated %}
    <a href="/rides/account/" style="float: right"> {{ user.username }}'s Account</a>
    <br>
    <a href="/rides/logout/" style="float: right"> Logout </a>
{% else %}
    <a href="/rides/register/" style="float: right">Register Here</a>
{% endif %}

<div class="center">
<p class="main">
<a href="/rides/">
<img class="displayed" src="{% static "rides/fullrideslogo_w_txt.png" %}" 
alt="Home" height="162" widght="180"/>
{% if reviewed %}
Thanks for leaving your passengers a review. Feel free to add another!
<br>
{% endif %}
</a>
Your drive on: {{ ride.time }}
<br>
Start: {{ ride.start }}
<br>
Dest: {{ ride.dest }}
<br>
{% if riders %}
	Your passengers:
	<br>
	{% for rider in riders %}
		{{ rider.user }}
		<br>
	{% endfor %}
{% else %}
	You don't have any passengers.
{% endif %}
<br>
Add a review for your passengers:
<br>
<form id="review_form" method="post" action="/rides/pastDrive/{{ ride.id }}/"
                enctype="multipart/form-data" class="main" align="middle">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ review_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Add Review" />
</form>