{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'rides/style.css' %}" />
{% if user.is_authenticated %}
    <a href="/rides/account/" style="float: right"> {{ user.username }}'s Account</a>
    <br>
    <a href="/rides/logout/" style="float: right"> Logout </a>
{% else %}
    <a href="/rides/register/" style="float: right">Register Here</a>
{% endif %}

<div class="center">
<p class="main">
<a href="/rides/">
<img class="displayed" src="{% static "rides/fullrideslogo_w_txt.png" %}" 
alt="Home" height="162" widght="180"/>
</a>
<p>Your reviews:</p>
{% if reviews %}
	{% for review in reviews %}
	<br>
	<p>Rating: {{ review.rating }}</p>
	<p>Comments: {{ review.comments }}</p>
	<p>Ride: {{ review.ride.time }}</p>
	<br>
	{% endfor %}
{% else %}
You don't have any reviews yet.
{% endif %}