li a {
    color: green;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.buttons {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px; 
}

#images{
    text-align:center;
}

p.main {
	text-align: center;
}

 form.date {
    display: inline-block;
    text-align: center;
 }